* {
	color: #3a3e47;
    font-family: museo-sans, "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0px;
}

input[type="text"] {
  padding: 10px;
  margin-bottom: 5px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  width: 558px;
  font-size:24px;
}

.grid * {
    color: #dcdcdc;
}

.grid {
    background: #3a3e47;
    float: left;
    height: 33vw;
    margin: 1%;
    width: 31.2%;
}

#background {
    background-image: url("https://i.ytimg.com/vi/5Xh9sDqeVkU/maxresdefault.jpg");
    height: 100%;
    width: 100%;
    display:block;
    padding: 0px;
    background-size:100%;
}

body > .ember-view {
    height: 100%;
}

html, body {
    height: 100%;
}

.content {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 1000px;
    margin: 0 auto;
}

img.current-song {
    height: 320px;
    width: 320px;
    border: 15px solid #f3f4f8;
}

#current-song-container {
    display: inline-block;
}

#playlist-container {
    display: inline-block;
    margin-left: 60px;
    width: 580px;
    vertical-align: top;
}

ul {
    padding: 0px;
}

.song-tile img {
    width: 70px;
    height: 70px;
}

.track-image {
    float: left;
}

.song-tile div {
    display: inline-block;
    vertical-align: top;
}

.song-tile .button-group {
    float: right;
}

.button-group {
    float: right;
}

a.button {
    display: block;
    text-align: center;
    height: 70px;
    width: 55px;
    margin-left: 2px;
    background: #f3f4f8;
}

.track-info {
    float: left;
    width: 380px;
    padding: 5px;
    margin-left:2px;
    height: 60px;
    background: #f3f4f8;
}

.track-info * {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

li.song-tile {
    display: block;
    height: 70px;
    margin: 0 0 2px 0;
    position: relative;
    list-style: none
}